@import "tailwindcss";

body {
    background-color: #F9FAFB; /* background.DEFAULT z config */
    color: #111827;            /* text.primary z config */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    border: 1px solid #E5E7EB; /* surface.border z config */
}


